#wrapper{
    width: 1200px;
    border: 1px solid black;
    overflow: hidden;
}

fieldset{
   border: 2px groove crimson;
}

#character_form{
    display:inline-block;
    float: left;
    width:60%;
    margin-right: 10px; 
}

#creation_help{
    border: solid 1px red;
    display:inline-block;
    width:35%;
    overflow:hidden;
}

.drop{
    border-radius: 5px;
    padding: 5px;
}

input{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

textarea{
    border-radius: 5px;
    border: 1px solid gray;
    resize: none;
}

textarea:focus{
    outline:none;
    border: 1px solid crimson;
}

.drop:focus, input:focus{
    outline: none;
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 5px;
}

input[type=submit]{
    height: 40px;
    width: 100%;
    padding: 5px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(190,10,30);
}

.char_img{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.char_img + label{
    font-weight: 700;
    background-color: crimson;
    color: #fff;
    display:inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.char_img:focus + label, .char_img + label:hover{
    background-color: rgb(190,10,30);
}