#wrapper{
    width: 1200px;
    border: 1px solid black;
    overflow: hidden;
}
#character_form{
    display:inline-block;
    float: left;
    width:60%;
    margin-right: 10px; 
}

#creation_help{
    border: solid 1px red;
    display:inline-block;
    width:35%;
    overflow:hidden;
}

input[type=text]:focus{
    background-color: lightblue;
}

input[type=submit]{
    height: 40px;
    width: 100%;
    padding: 5px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(190,10,30);

}